@{
	Layout = "_Layout";
	ViewData["Title"] = "6";
}
<div class="content-wrapper">
	<!-- Lines -->
	<section class="content-lines-wrapper">
		<div class="content-lines-inner">
			<div class="content-lines"></div>
		</div>
	</section>
	<!-- Header Banner -->
	<section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-darkgray="1" data-background="upload/background1.jpg"> </section>
	<!-- Project Page -->
	<section class="section-padding2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title2">Twin Tower 3</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<p>Konak Twin Towers 3 Projesi 4.467 m2 arsa alanından oluşmaktadır. Alanya şehir merkezinde 2 blok &nbsp;144 &nbsp;daireden &nbsp;oluşmaktadır. &Ccedil;arşı merkezine 900 mt., Kleopatra plajına 600 mt. mesafededir. Deniz ve Kale manzarasına hakim bir konumu vardır.</p>

					<p>&nbsp;</p>

					<p>Yapının kendisi betonarme &ccedil;er&ccedil;eve sistem ile &uuml;retilmektedir. Dış duvarlar ve i&ccedil; duvarlar hafif malzeme olarak bilinen bims bloklardan oluşmaktadır.&nbsp;</p>

					<p>Tam boy ağa&ccedil;lar, yeşil &ccedil;imenler, palmiye ağa&ccedil;ları ve &ccedil;alılarla dikilmiş kendi bah&ccedil;esine sahip kapalı b&ouml;lge.&nbsp; Geniş y&uuml;r&uuml;y&uuml;ş yolları ve dinlenme alanı</p>

					<p>&nbsp;&Ccedil;ift pencereler. Al&uuml;minyum doğrama ısı camlı. Y&uuml;ksek ses yalıtımlı.%30 UVC koruması.İ&ccedil; kapılar. Mobilya kapı olacaktır - MDF,</p>

					<p>Giriş kapılar- &Ccedil;elik kapı</p>

					<p>&nbsp;</p>

					<p>Ortak Alanlar : Kapalı Otopark, Kapıcı, 24 Saat G&uuml;venlik, A&ccedil;ık Y&uuml;zme Havuzu, &nbsp;Kapalı Y&uuml;zme Havuzu, Fitness, T&uuml;rk Hamamı, Buhar Odası, Masaj Odası, Sauna, Havuz Bar, &Ccedil;ocuk Oyun Parkı, İnternet, Uydu Sistemi ,Kameliya ,&nbsp;Barbek&uuml; alanı,&nbsp;&nbsp;Botanik Bah&ccedil;esi, &nbsp;Bar ,Yapay şelale,Tuvalet, duş.Genel alanlarda soyunma odaları,</p>

					<p>Bu daireler :</p>

					<p>A blok</p>

					<p>- 46 Adet (1+1 ,60 m2)</p>

					<p>- 16 Adet (2+1,87&nbsp;m2)</p>

					<p>- 6&nbsp; Adet (2+1 dubleks ,116 -&nbsp;120&nbsp;m2)</p>

					<p>- 2&nbsp; Adet (2+1 bah&ccedil;e dubleks, 110 ve 120 m2)</p>

					<p>- 2&nbsp;Adet (4+1 dubleks ,197 m2)</p>

					<p>B blok</p>

					<p>- 45 Adet (1+1 ,60 - 62 m2)</p>

					<p>- 16 Adet (2+1,87 m2)</p>

					<p>- 6&nbsp; Adet (2+1 dubleks ,116 -120&nbsp;m2)</p>

					<p>- 2&nbsp; Adet (2+1 bah&ccedil;e dubleks, 110 ve 120 m2)</p>

					<p>- 1&nbsp; Adet (3+1 bah&ccedil;e dubleks, 140 m2)</p>

					<p>- 2&nbsp;Adet (4+1 dubleks ,197 m2)</p>

					<p>&nbsp;</p>

					<p>&nbsp; Adress:&nbsp; SASRAY MAHALLESI,&nbsp; NO.12 ,&nbsp; ISMET T&Uuml;MERDEN Sk.&nbsp; ,07400&nbsp; &nbsp;ALANYA.&nbsp; ANTALYA.</p>

					<p><ins><small><code><em>PROJE BAŞLANGI&Ccedil; TARİHİ: KASIM 2021</em></code></small></ins></p>

					<p><ins><small><code><em>PROJE TAMAMLAMA TARİHİ: NİSAN 2023</em></code></small></ins></p>

					<p><ins><small><code><em><strong>Tel, +90 552 611 16 63</strong> Rus&ccedil;a, Turk&ccedil;a</em></code></small></ins></p>

					<p><ins><small><code><em><strong>Tel. +90 552 611 16 62</strong> Englez&ccedil;e, Turk&ccedil;e,Fars&ccedil;a.</em></code></small></ins></p>
				</div>
				<div class="col-md-4">
					<p><b>Build Year  : </b> 2023 (Tamamlanacak)</p>
					<p><b>Project Name  : </b> Twin Tower 3</p>
					<p><b>Location : </b> Alanya, Kleopatra</p>
				</div>
			</div>
			<div class="row mt-30">

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648087014.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648087014.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648087042.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648087042.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648087055.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648087055.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177488.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177488.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177515.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177515.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177524.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177524.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177530.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177530.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177536.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177536.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177549.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177549.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177560.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177560.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648177576.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648177576.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649032701.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649032701.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649032760.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649032760.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649032771.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649032771.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649032782.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649032782.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387191.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387191.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387238.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387238.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387245.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387245.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387269.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387269.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387277.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387277.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387286.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387286.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387302.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387302.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387314.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387314.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387323.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387323.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387366.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387366.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387404.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387404.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1649387418.jpg" title="Twin Tower 3" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1649387418.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

			</div>
			<h2 style="margin-top: 70px;">Location</h2>
			<div class="row" style="margin-top: 30px;margin-bottom: -70px;">
				<div class="col-md-12 mb-30 animate-box" data-animate-effect="fadeInUp">
					<iframe src="https://www.google.com/maps?q=,&output=embed"
							width="100%" height="500"
							style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>

		</div>

	</section>
	<section class="testimonials">
		<div class="background bg-img bg-fixed section-padding pb-0" data-background="../upload/background.jpg" data-overlay-dark="5">
			<div class="container">
				<div class="row">
					<!-- Promo video -->
					<div class="col-md-6">
						<div class="vid-area">
							<div class="vid-icon">
								<a class="play-button vid" href="https://www.youtube.com/watch?v=_3kH3iv6zow">
									<svg class="circle-fill">
										<circle cx="43" cy="43" r="39" stroke="#fff" stroke-width=".5"></circle>
									</svg>
									<svg class="circle-track">
										<circle cx="43" cy="43" r="39" stroke="none" stroke-width="1" fill="none"></circle>
									</svg> <span class="polygon">
										<i class="ti-control-play"></i>
									</span>
								</a>
							</div>
							<div class="cont mt-15 mb-30">
								<h5>KONAK CONSTRUCTION</h5>
							</div>
						</div>
					</div>
					<div class="col-md-5 offset-md-1">
						<div class="testimonials-box animate-box" data-animate-effect="fadeInUp">
							<div class="head-box">
								<h4>LET US CALL YOU!</h4>
								<p>Fill in the form to get information and we will call you.</p>
							</div>
							<div class="">
								<div class="item">
									<span class="quote"><img src="img/quot.png" alt=""></span>

									<form asp-controller="Base" asp-action="SubmitContactForm" method="post" class="contact__form">
										<!-- Form elements -->
										<div class="row">
											<div class="col-md-12 form-group">
												<input name="adi" type="text" maxlength="100" placeholder="Name Surname *" required>
											</div>
											<div class="col-md-12 form-group">
												<input name="mail" type="email" maxlength="100" placeholder=" E-Mail  *" required>
											</div>
											<div class="col-md-12 form-group">
												<input name="tel" type="text" maxlength="100" placeholder="Phone ">
											</div>
											<div class="col-md-12">
												<button type="submit" name="mgonder" class="btn btn-modern" style="color:black;" onClick="window.location.reload();">SEND MESSAGE</button>

											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="clients">
		<div class="container">
			<div class="row">
				<div class="col-md-2 ">
					<div class="clients-logo">
						<a href="https://drive.google.com/drive/folders/1pfpwkH7snq2gtS-wSvaswlW1t5gs64cP?usp=sharing" target="_blank"><img src="upload/drv.png" alt=""></a>
					</div>

				</div>
			</div>
		</div>
	</section>
	</div>