@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Gelen Kutusu</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                    <thead>
                        <tr>
                            <th data-ordering="true">Oluşturma Tarihi</th>
                            <th data-ordering="true">Ad - Soyad</th>
                            <th data-ordering="false">Mail</th>
                            <th data-ordering="false">Telefon</th>

                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end col-->

</div><!--end row-->
</div><!-- end col -->
</div>
<!-- container-fluid -->
</div>
<!-- End Page-content -->
