@{
	Layout = "_Layout";
	ViewData["Title"] = "8";
}
<div class="content-wrapper">
	<!-- Lines -->
	<section class="content-lines-wrapper">
		<div class="content-lines-inner">
			<div class="content-lines"></div>
		</div>
	</section>
	<!-- Header Banner -->
	<section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-darkgray="1" data-background="upload/background1.jpg"> </section>
	<!-- Project Page -->
	<section class="section-padding2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="section-title2">Twin Towers 1</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<p>Konak Twin Towers 1 Projesi 3.751 m2 arsa alanından oluşmaktadır. Alanya şehir merkezinde 2 blok &nbsp;174 &nbsp;daireden &nbsp;oluşmaktadır. Mahmutlar merkezine 200 mt., Plaja 20 mt. mesafededir. Deniz ve Kale manzarasına hakim bir konumu vardır.</p>

					<p>Ortak Alanlar : Kapalı Otopark, Kapıcı, 24 Saat G&uuml;venlik, A&ccedil;ık Y&uuml;zme Havuzu, &nbsp;Kapalı Y&uuml;zme Havuzu, Fitness, T&uuml;rk Hamamı, Buhar Odası, Masaj Odası, Sauna, Havuz Bar, &Ccedil;ocuk Oyun Parkı, İnternet, Uydu Sistemi</p>

					<p>&nbsp;Adres:Mahmutlar Mah. D-400 karayolu &uuml;st&uuml; BLV. NO:23A ALANY/ANTALYA</p>
				</div>
				<div class="col-md-4">
					<p><b>Build Year  : </b> 2018</p>
					<p><b>Project Name  : </b> Twin Towers 1</p>
					<p><b>Location : </b> Alanya, Mahmutlar</p>
				</div>
			</div>
			<div class="row mt-30">

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648484917.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648484917.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485048.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485048.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485073.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485073.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485079.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485079.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485093.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485093.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485100.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485100.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485118.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485118.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485124.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485124.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485140.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485140.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485146.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485146.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485155.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485155.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485163.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485163.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485169.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485169.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485197.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485197.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648485206.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648485206.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648486101.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648486101.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648486108.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648486108.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

				<div class="col-md-4 gallery-item">
					<a href="~/upload/proje/thump_1648486115.jpg" title="Twin Towers 1" class="img-zoom">
						<div class="gallery-box">
							<div class="gallery-img"> <img src="~/upload/proje/thump_1648486115.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
						</div>
					</a>
				</div>

			</div>
			<h2 style="margin-top: 70px;">Location</h2>
			<div class="row" style="margin-top: 30px;margin-bottom: -70px;">
				<div class="col-md-12 mb-30 animate-box" data-animate-effect="fadeInUp">
					<iframe src="https://www.google.com/maps?q=,&output=embed"
							width="100%" height="500"
							style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>

		</div>

	</section>
	<section class="testimonials">
		<div class="background bg-img bg-fixed section-padding pb-0" data-background="../upload/background.jpg" data-overlay-dark="5">
			<div class="container">
				<div class="row">
					<!-- Promo video -->
					<div class="col-md-6">
						<div class="vid-area">
							<div class="vid-icon">
								<a class="play-button vid" href="https://www.youtube.com/watch?v=_3kH3iv6zow">
									<svg class="circle-fill">
										<circle cx="43" cy="43" r="39" stroke="#fff" stroke-width=".5"></circle>
									</svg>
									<svg class="circle-track">
										<circle cx="43" cy="43" r="39" stroke="none" stroke-width="1" fill="none"></circle>
									</svg> <span class="polygon">
										<i class="ti-control-play"></i>
									</span>
								</a>
							</div>
							<div class="cont mt-15 mb-30">
								<h5>KONAK CONSTRUCTION</h5>
							</div>
						</div>
					</div>
					<div class="col-md-5 offset-md-1">
						<div class="testimonials-box animate-box" data-animate-effect="fadeInUp">
							<div class="head-box">
								<h4>LET US CALL YOU!</h4>
								<p>Fill in the form to get information and we will call you.</p>
							</div>
							<div class="">
								<div class="item">
									<span class="quote"><img src="img/quot.png" alt=""></span>

									<form asp-controller="Base" asp-action="SubmitContactForm" method="post" class="contact__form">
										<!-- Form elements -->
										<div class="row">
											<div class="col-md-12 form-group">
												<input name="adi" type="text" maxlength="100" placeholder="Name Surname *" required>
											</div>
											<div class="col-md-12 form-group">
												<input name="mail" type="email" maxlength="100" placeholder=" E-Mail  *" required>
											</div>
											<div class="col-md-12 form-group">
												<input name="tel" type="text" maxlength="100" placeholder="Phone ">
											</div>
											<div class="col-md-12">
												<button type="submit" name="mgonder" class="btn btn-modern" style="color:black;" onClick="window.location.reload();">SEND MESSAGE</button>

											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="clients">
		<div class="container">
			<div class="row">
				<div class="col-md-2 ">
					<div class="clients-logo">
						<a href="https://drive.google.com/drive/folders/1pfpwkH7snq2gtS-wSvaswlW1t5gs64cP?usp=sharing" target="_blank"><img src="upload/drv.png" alt=""></a>
					</div>

				</div>
			</div>
		</div>
	</section>
</div>